In [1]:
from xbbg import blp
import pandas as pd

# BDP example

In [2]:
blp.bdp(tickers=['NVDA US Equity', 'SNOW US Equity'], flds=['Security_Name', 'GICS_Sector_Name'])

                security_name        gics_sector_name
NVDA US Equity    NVIDIA Corp  Information Technology
SNOW US Equity  Snowflake Inc  Information Technology

with overrides:

In [3]:
blp.bdp('AAPL US Equity', 'Eqy_Weighted_Avg_Px', VWAP_Dt='20250324')

Empty DataFrame
Columns: []
Index: []

# BDH example

In [4]:
bdh_example = blp.bdh(
    tickers='SPX Index', flds=['high', 'low', 'last_price'],
    start_date='2018-10-10', end_date='2018-10-20'
)
print(type(bdh_example)) # <-- outputs everything as a Pandas DataFrame
bdh_example

<class 'pandas.core.frame.DataFrame'>

           SPX Index
                high      low last_price
2018-10-10   2874.02  2784.86    2785.68
2018-10-11   2795.14  2710.51    2728.37
2018-10-12   2775.77  2729.44    2767.13
2018-10-15   2775.99  2749.03    2750.79
2018-10-16   2813.46  2766.91    2809.92
2018-10-17   2816.94  2781.81    2809.21
2018-10-18   2806.04  2755.18    2768.78
2018-10-19   2797.77  2760.27    2767.78

In [5]:
blp.bdh('ES1 Index', 'LAST_PRICE',  start_date='2024-05-15', end_date='2024-05-15')#, BarTp ='T', BarSz='60s', Dts="S")

            ES1 Index
           LAST_PRICE
2024-05-15     5333.0

In [6]:
blp.bdh('ES1 Index', 'LAST_PRICE',  start_date='2024-03-20 16:50:00', end_date='2024-03-20 16:51:00', BarTp ='T', BarSz='60s', Dts="S")

Empty DataFrame
Columns: []
Index: []

In [7]:
blp.bdh(
    'AAPL US Equity', 'px_last', '20140605', '20140610',
    CshAdjNormal=True, CshAdjAbnormal=True, CapChg=True
)

           AAPL US Equity
                  px_last
2014-06-05        20.3122
2014-06-06        20.2564
2014-06-09        20.5805
2014-06-10        20.7013

In [8]:
blp.bdh("ES1 Index", flds=["PX_LAST"], start_date='2020-02-03', end_date='2020-02-28',  Per='W', Fill='P', Days='A')

           ES1 Index
             PX_LAST
2020-02-07   3325.50
2020-02-14   3381.00
2020-02-21   3339.25
2020-02-28   2951.00

# Historical Actuals

In [9]:
blp.bdh('SPX Index', flds=['IS_EPS'], start_date='2023-01-01', FUND_PER="Q",Per="Q")

           SPX Index
              IS_EPS
2023-03-31   40.3323
2023-06-30   48.6600
2023-09-29   49.4358
2023-12-29   50.5892
2024-03-29   47.8763
2024-06-28   48.2750
2024-09-30   53.4163
2024-12-31   52.4546
2025-03-31   58.2249
2025-06-30   54.1570
2025-09-30   59.2685

# Datasets

In [10]:
blp.bds('AAPL US Equity', 'DVD_Hist_All', DVD_Start_Dt='20180101', DVD_End_Dt='20180531')

,declared_date,ex_date,record_date,payable_date,dividend_amount,dividend_frequency,dividend_type
AAPL US Equity,2018-05-01,2018-05-11,2018-05-14,2018-05-17,0.73,Quarter,Regular Cash
AAPL US Equity,2018-02-01,2018-02-09,2018-02-12,2018-02-15,0.63,Quarter,Regular Cash

_Per_

- D: Daily
- W: Weekly
- M: Monthly
- Q: Quarterly
- S: Semi-annually
- Y: Yearly

Days - Valid values include:

- N, W or Weekdays: All weekdays
- C, A or All: All calendar days
- T or Trading: Omits all non-trading days.

# Estimates

In [11]:
blp.bdh(tickers='SX5E Index', flds=['BEST_PE_RATIO'], start_date='2025-03-01',end_date='2025-03-12')

              SX5E Index
           BEST_PE_RATIO
2025-03-03       15.4700
2025-03-04       15.0444
2025-03-05       15.3241
2025-03-06       15.4289
2025-03-07       15.2788
2025-03-10       15.0566
2025-03-11       14.8411
2025-03-12       14.9981

With Relative Overrides:

- FY, FS, FQ - Represents the forecast fiscal period value associated with a fiscal year, fiscal semi-annual, and fiscal quarter.
- GY, GS, GQ - Represents the forecast generic period value associated with a fiscal year, fiscal semi-annual, and fiscal quarter. Generic periods represent a concatenation of streams of successive periods. Generics reference the relative period on each historical date. **For example, 1GY as of an historical date of 06/30/2013 for a company with a December fiscal year end, returns FY 2013 data regardless of today's date.**
- TY - Forward 12 months is compiled by using the most frequent available periodicity (next 4 quarters or next 2 semi-annuals or next fiscal year)
- BF - Represents a blended forward 12 months and is restricted to fiscal year periodicity. Similar to GY, except uses the weighted average of 1FY and 2FY to smooth out fiscal year transitions. Weighted average is calculated as follows for 1BF:
  [((number of days until next fiscal year/trading days in a year) x FY1 data + (1 - (number of days until next fiscal year/trading days in a year)) x FY2 data]

When using the "GY" or "TY" overrides, the period you pull depends on the reporting status of the previous quarter. If the prior quarter (Q4 2024) has not been reported by January 1, 2025, the "GY" or "TY" override would still reference Q4 2024 as the current quarter. Once Q4 2024 is reported, the reference would shift to Q1 2025. The "GY" override references the fiscal year associated with the historical date, while "TY" compiles forward 12 months using the most frequent available periodicity, such as the next 4 quarters or next fiscal year

Example: AAPL US, Next Fiscal Year End date is 9/30/2017, Today's Date is 12/28/2016,
Measure is: BEst EPS GAAP (BE653, BEST_EPS_GAAP)
1BF = [((197/261) x $9.001) + ((1 - (197/261)) x $9.985)] = $9.2423

Note: Whether the combination of FY1 & FY2 or FY2 & FY3 is used is dependent upon whether the current point in time has/has not exceeded the FY1 reporting date (the date earnings are announced or the date the financials are reported in cases where there isn't an earnings announcement). If the current point in time is prior to the FY1 reporting date, then FY1 & FY2 are used. If the current point in time is after the FY1 reporting date, then FY2 & FY3 are used.

The following override examples apply to the relative format:
1FY - current fiscal year (where "current" represents the estimate
associated with the most recent period)
-0FS - last fiscal semi-annual period
2FQ - next fiscal quarter

The following override examples apply to the relative forward-looking format:
1BF, 2BF, 3BF to return the next 12, 24, and 36 month estimated values only.

1TY - returns the forward 12 months only using the most frequent available periodicity (next 4 quarters or next 2 semi-annuals or next fiscal year)

Fixed Overrides:
Y, S1, S2, Q1, Q2, Q3, Q4 - Returns the fixed period by specific year, semi-annual or quarter

BC - Returns the blended calendar period for companies with non-December fiscal years. Blended calendar estimates will be the same as fiscal year estimates for companies with fiscal years ending in December. The blended value is derived in 1 of 3 ways depending upon when the company's fiscal month occurs and whether or not quarterly or semi-annual data is available:

1.  If the fiscal month occurs at the end of March, June, or September,
    and quarterly data is available, the calculation is simply the sum of
    the 4 quarters ending in the requested calendar year.
    Example: Company's fiscal month end is March 31st. Construct
    calendar year 2015 by summing the following 4 quarters:

    Fiscal Period Calendar Period
    Q4 2015 3/31/2015
    Q1 2016 6/30/2015
    Q2 2016 9/30/2015
    Q3 2016 12/31/2015

2.  If the fiscal month occurs at the end of January, February, April,
    May, July, August, October, or November, and quarterly data is available,
    the calculation must be prorated based upon the proportion of the
    beginning and ending quarters falling into the requested calendar year.
    Example: Company's fiscal month end is January 31st. Construct calendar
    year 2015 by prorating and summing the following quarters:

    Fiscal Period Calendar Period Multiplier
    Q4 2015 1/31/2015 0.333\*
    Q1 2016 4/30/2015 1
    Q2 2016 7/31/2015 1
    Q3 2016 10/30/2015 1
    Q4 2016 1/31/2016 0.667^

    - Multiply by 0.333 since 1 of the 3 months of the quarter
      was in calendar year 2015
      ^ Multiply by 0.667 since 2 of the 3 months of the quarter
      were in calendar year 2015

3.  If the fiscal month is not December and interim data is not available, the
    calculation must be prorated based upon the proportion of straddling fiscal
    years falling into the requested calendar year.
    Example: Company's fiscal month end is May 30th.
    Calendar year 2015 is calculated as:
    FY May 2015 (multiply by 5/12 since 5 of the 12 months were in 2015) +
    FY May 2016 (multiply by 7/12 since 7 of the 12 months were in 2015)

The following override examples apply to the fixed format:
15Q1 - First fiscal quarter of 2015
16Y - Fiscal year 2016
16S2 - Second fiscal semi-annual of 2016
14BC - Blended Calendar Year 2014
15BC - Blended Calendar Year 2015

Equity Index Relative Overrides (Fixed Period References don't apply to Indices):

Equity Indices do not have designated fiscal years. Therefore, any fixed period references such as 16Q1, 16Y, and 16BC do not apply to an index.

Relative fiscal period overrides can be used to return aggregated, weighted estimate values based upon each index constituent's weight in the index and relative fiscal period. Relative override availability at the index level is as follows:
FY/GY - available out 3 years to 3FY and 3GY
FS/GS - available out 4 semis to 4FS and 4GS
FQ/GQ - available out 8 quarters to 8FQ and 8GQ
BF - only blends for the next 12 months to 1BF; no option for 24 or 36 months forward
1TY - returns the forward 12 months only using the most frequent available periodicity (next 4 quarters or next 2 semi-annuals or next fiscal year)

All index calculations are pending 50% or greater equity coverage by percent weight in the index. Index estimates will return N/A when more than 50% of companies by weight do not have data.

In [12]:
blp.bdh(tickers='SX5E Index', flds=['BEST_PE_RATIO'], BEST_FPERIOD_OVERRIDE = '1BF', start_date='2025-03-01',end_date='2025-03-12')

              SX5E Index
           BEST_PE_RATIO
2025-03-03       15.2347
2025-03-04       14.8116
2025-03-05       15.0849
2025-03-06       15.1834
2025-03-07       15.0327
2025-03-10       14.8026
2025-03-11       14.5868
2025-03-12       14.7390

In [13]:
blp.bdh(tickers='SX5E Index', flds=['BEST_PE_RATIO'], BEST_FPERIOD_OVERRIDE = '4GQ', start_date='2025-03-01', end_date='2025-03-12')

              SX5E Index
           BEST_PE_RATIO
2025-03-03       15.4700
2025-03-04       15.0444
2025-03-05       15.3241
2025-03-06       15.4289
2025-03-07       15.2788
2025-03-10       15.0566
2025-03-11       14.8411
2025-03-12       14.9981

# Intraday bars

In [14]:
blp.bdib(ticker='BHP AU Equity', dt=pd.Timestamp('now')).tail()

                          BHP AU Equity                                \
                                   open   high    low  close   volume
2025-11-12 15:58:00+11:00         43.07  43.07  43.05  43.06    11902
2025-11-12 15:59:00+11:00         43.06  43.08  43.04  43.05    13876
2025-11-12 16:10:00+11:00         43.06  43.06  43.06  43.06  1613398
2025-11-12 16:11:00+11:00         43.06  43.06  43.06  43.06     4589
2025-11-12 16:15:00+11:00         43.06  43.06  43.06  43.06       10


                          num_trds         value
2025-11-12 15:58:00+11:00      252  5.125422e+05
2025-11-12 15:59:00+11:00      283  5.974830e+05
2025-11-12 16:10:00+11:00      344  6.947296e+07
2025-11-12 16:11:00+11:00        1  1.976023e+05
2025-11-12 16:15:00+11:00        1  4.306000e+02

In [15]:
from xbbg.const import exch_info

# Intraday bars within market session:

In [16]:
blp.bdib(ticker='7974 JT Equity', dt='2025-02-10', session='am_open_01').tail()

Empty DataFrame
Columns: []
Index: []

In [17]:
exch_info('7974 JT Equity')

tz            Asia/Tokyo
allday    [08:00, 15:45]
day       [09:01, 14:58]
post      [14:59, 15:45]
am        [09:01, 11:30]
pm        [12:30, 14:58]
pre       [08:00, 09:01]
Name: EquityJapan, dtype: object

# Earnings

In [18]:
blp.earning('AMD US Equity', by='Geo', Eqy_Fund_Year=2017, Number_Of_Periods=1)

                     segment_name  level  fy2017  fy2017_pct
AMD US Equity             Foreign      1  3893.0   74.110032
AMD US Equity               China      2  1712.0   43.976368
AMD US Equity               Japan      2  1215.0   31.209864
AMD US Equity           Singapore      2   550.0   14.127922
AMD US Equity              Europe      2   263.0    6.755715
AMD US Equity     Other Countries      2   153.0    3.930131
AMD US Equity       United States      1  1360.0   25.889968

# Dividends

In [19]:
blp.dividend(['C US Equity', 'MS US Equity'], start_date='2018-01-01', end_date='2018-05-01')

,dec_date,ex_date,rec_date,pay_date,dvd_amt,dvd_freq,dvd_type
C US Equity,2018-01-18,2018-02-02,2018-02-05,2018-02-23,0.32,Quarter,Regular Cash
MS US Equity,2018-04-18,2018-04-27,2018-04-30,2018-05-15,0.25,Quarter,Regular Cash
MS US Equity,2018-01-18,2018-01-30,2018-01-31,2018-02-15,0.25,Quarter,Regular Cash

In [20]:
 blp.bdh('AAPL US Equity', 'px_last', '20140606', '20140609', adjust='-')

           AAPL US Equity
                  px_last
2014-06-06         645.57
2014-06-09          93.70

# Data Sets

In [21]:
# blp.bds TODO